@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box; 
}
    

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/**************** shared styles ***************/
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;   
    border: none;
    margin-top: 32px; 
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
main > section{
    margin-top: 130px;
}
/* dark-01 */
.chinese-black{
    color: #131313;
}
/* dark-02 */
.text-grey{
    color: #424242;
}
/* dark-03 */
.text-light-grey{
    color: #727272;
}
/* dark-04 */
.dark-orange{
    color: #FF900E;
}
/* bg-color */
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* navbar related styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.menu, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image img{
    width: 100%;

}
/* team and features related styles */
.teams{
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* padding:301px; */
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 76px;
    /* width: 537px; */
}

#quick-list{
    font-weight: 500;
}
.feature-description{
    font-size: 16px;
    font-weight: 400;
}
/* some fact related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-description{
    max-width: 540px;
}

/* .fact-card-content{
    margin: 45px 36px 59px 36px;
} */
.fact-card{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-card img {
    margin-top: 45px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsors styles */
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-title{
    font-size: 45px;
    font-weight: 700;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img {
    filter: grayscale(100%);
}











/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team-image-container, 
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-company{
        justify-content: center;  /* recheck 10-8:10.20*/
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
}
/* Medium size device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .our-features {
        margin: 50px auto;  /* recheck */
    }
    .sponsors-company, 
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}